<html lang="en">

<head>
    <link rel="stylesheet" href="static/lib/bootstrap.min.css">
    <link rel="stylesheet" href="static/lib/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="static/lib/angular-material.min.css">
    <script src="static/lib/lodash.min.js"></script>
    <script src="static/lib/jquery-3.4.1.min.js"></script>
    <script src="static/lib/idle-tc-rule.js"></script>
    <script src="static/lib/housing-rule.js"></script>
</head>

<body ng-app="BlankApp" ng-cloak ng-controller="myCtrl" id="main">
<input type="number" ng-model="updateInterval" ng-change="changeUpdateInterval()"/>
<input ng-model="url"/>
<input type="checkbox" ng-model="dbg"/>
<button ng-click="openSettings($event)">Settings</button>
<button ng-click="reset($event)">Reset</button>
<button ng-click="muteAll($event)">{{muted? "Unmute all":"Mute all"}}</button>
<div>
    <table>
        <tr>
            <td ng-repeat="alarm in alarms">
                <div class="brdr"><div id="icon-{{alarm.name}}" class="notification {{alarm.name}}" ng-click="alarm.snd.muted=!alarm.snd.muted"><img src="static/app_icon/mute-512.png" style="{{alarm.snd.muted || 'display: none'}}"/></div></div>
            </td>
        </tr>
    </table>
</div>
<table>
    <tr ng-repeat="tc in state.tcs" class="bg-{{tc.flags.color}}">
        <td><img ng-attr-src="{{28 | icon:'building'}}"/></td>
        <td width="50px">{{ tc.prodProgress * 100 | floor }}%</td>
        <td width="100px"><md-progress-linear md-mode="determinate" value="{{ tc.prodProgress * 100 | floor }}"></md-progress-linear></td>
        <td width="30px" align="right">{{ tc.prodRemaining | floor }}</td>
        <td><img ng-repeat="qi in tc.queue" ng-attr-src="{{qi | icon}}"/></td>
    </tr>
</table>
<script src="static/lib/angular.min.js"></script>
<script src="static/lib/angular-aria.min.js"></script>
<script src="static/lib/angular-animate.min.js"></script>
<script src="static/lib/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="static/lib/angular-material.min.js"></script>

<!-- Your application bootstrap  -->

<audio id="snd_almost_idle_tc" loop="true" preload="auto">
    <source src="static/audio/bell-cut.mp3"/>
</audio>
<audio id="snd_idle_tc" preload="auto">
    <source src="static/audio/sound2.wav"/>
</audio>
<audio id="sound3" preload="auto">
    <source src="static/audio/bell-cut.mp3"/>
</audio>
<audio id="sound4" preload="auto">
    <source src="static/audio/ice-cubes.mp3"/>
</audio>
<audio id="snd_housing" preload="auto">
    <source src="static/audio/train-cut.mp3"/>
</audio>
<audio id="sound6" preload="auto">
    <source src="static/audio/ring-cut.mp3"/>
</audio>
<audio id="sound7" preload="auto">
    <source src="static/audio/whistle-cut.mp3"/>
</audio>
<script src="static/lib/script.js"></script>
<script src="static/lib/settings-ctrl.js"></script>
<!-- </body> -->
</html>